[2022-10-01 16:37] chaaals opened #1 "Pressing enter doesn't work when searching for a book"
## Describe the Bug 🐛

Hey! I noticed it while testing your app. Pressing enter redirects the user to another path. Searching only works when you manually click on search.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to search page
2. Type a book or author
3. Press enter
4. After pressing enter, it doesn't actually search for the book but rather redirects the user to another path

**E

[2022-10-01 16:38] Bibhavshah commented on #1
It works fine, I tried
`

[2022-10-01 16:40] KanishkDadhich opened #2 "Adding a new background"
## 🚀 Feature

Hey folks.
I want to add a decent background to this website, so that it looks quite a bit more captivating.
Thanks :)

[2022-10-01 16:41] ST1LLWATER opened #3 "Pressing enter for book search."
## Pressing enter sends to a different page and not searches for the book.🐛

**To Reproduce**
Writing book name in search bar and press enter.

**Expected behavior**
Writing book name and pressing enter should search book instead of redirect.

[2022-10-01 16:41] wasimreja commented on #1
@chaaals go ahead

[2022-10-01 16:43] chaaals commented on #1
thanks! please assign this issue to me <3

[2022-10-01 16:44] Sir-Martin-Esq-III opened #4 "Display results in a grid"
## 🚀 Feature

Display results in a responsive grid so that it is easier to navigate and view all the results.

It could perhaps display a "card" for each book and on hover would display more information about the book

[2022-10-01 16:47] wasimreja commented on #4
all the best @Sir-Martin-Esq-III

[2022-10-01 16:48] Anjali2201 opened #6 "Add Navbar and footer"
## 🚀 Feature

Adding a navigation bar and footer would enchance the look. Keeping the same color palette

[2022-10-01 16:49] KanishkDadhich commented on #2
Hey @wasimreja
Please assign this issue to me

[2022-10-01 16:49] #3 closed

[2022-10-01 16:55] wasimreja commented on #6
go ahead @Anjali2201

[2022-10-01 16:56] saroshfarhan commented on #4
@Sir-Martin-Esq-III @wasimreja I have a small suggestion for this, on top of displaying results in a grid, we can also lessen the size of the search bar and banner image (maybe move it as a navbar) after the first search and then each subsequent search will display the results below navbar search (more like how google does it). I can quickly provide a mock UI if we can have it as a no-code PR. Do

[2022-10-01 16:58] wasimreja commented on #4
@saroshfarhan yeah it would be great!

[2022-10-01 16:59] aaheli8 opened #7 "Create a Light and Dark Mode"
## 🚀 Feature
Add a switch to change light mode to dark mode and vice versa.

[2022-10-01 17:01] darshikaguptaa commented on #2
Hey @KanishkDadhich
I am interested in working on this issue
Please assign this issue to me.

[2022-10-01 17:02] saroshfarhan commented on #4
@wasimreja should I open a new issue or raise a PR on this issue, how do I hand-over the design files?

[2022-10-01 17:04] Anjali2201 opened #9 "Add fevicon"
## 🚀 Feature

Fevicon logo in tab icon

[2022-10-01 17:07] wasimreja commented on #4
@saroshfarhan raise a PR

[2022-10-01 17:07] wasimreja commented on #4
@saroshfarhan raise a pr

[2022-10-01 17:08] darshikaguptaa commented on #9
@Anjali2201 can you please assign this issue to me and also send the logo to be added.

[2022-10-01 17:13] saiwali commented on #9
@Anjali2201  I want to work on this issue  could u please assaign this task to me??

[2022-10-01 17:15] chaaals commented on #1
@wasimreja heyy, thanks for merging my change! I just noticed that labels in your repo has a typo. Instead of `hacktoberfest` , you  entered `hactoberfest`

[2022-10-01 17:15] luiserdef opened #11 "New action to "read button""
## 🚀 Enhancement

**Description**

A good way to stay user in the page is to open a new tab (when they click in "read" button) instead to open the new page in the same page that they are. Also, data in console logs should be stay in dev mode.

If there is no problem I can take that  and make that changes.

[2022-10-01 17:22] ManavMalhotra commented on #1
I don't think we should console.log('working') and book list in console

[2022-10-01 17:29] Bibhavshah commented on #9
Can I work on this issue please?

[2022-10-01 17:29] vaibhavi-roy commented on #2
Hello @KanishkDadhich I am interested to work on this issue.
Please assign this to me.
Thank you

[2022-10-01 17:35] ujjwalshiva opened #13 "Add Meta Tags for better SEO and Page Visibility"
## 🚀 Feature

**Adding proper Meta Tags would greatly improve SEO and also help social media websites generate image previews for this website**

I'd be glad to join in and contribute if you're okay with it.

[2022-10-01 17:41] saiwali commented on #9
@Anjali2201 I tried a favicon . Hope u like it!

[2022-10-01 17:50] jkol7 commented on #7
I would like to work on this please.

[2022-10-01 17:57] Bibhavshah opened #15 "make the cards more distinguishable by adding some styles"
The current gap between two consecutive is not much distinguishable, as shown in the picture.
![Screenshot (1514)](https://user-images.githubusercontent.com/78656387/193422094-264bec52-c520-403a-b866-c0465a377974.png)

By improving on this we can make the website look more beautiful and appealing.

[2022-10-01 18:07] Phoenix-031 opened #18 "Create a button which lets the user decide how many book results to return"
## 🚀 Feature

**A clear and concise description of what the feature is.**
Might be a good idea  to have a button which lets the user choose how many book results to return from the api call

**Is your feature request related to a problem? Please describe.**
the user might want to have more results for a particular book search

**Describe the solution you'd like**
implement a button to let the user

[2022-10-01 18:07] Phoenix-031 commented on #18
i would like to work on this feature..

[2022-10-01 18:17] ALIPHATICHYD opened #20 "Proposal to use SCSS as a Superset of CSS Styling"
## 🚀 SCSS

**I will like to style using SCSS because it's much more easier because of the nesting and many other features.**

[2022-10-01 18:37] parth-verma7 commented on #7
@aaheli8 I would like to work upon this issue, can you please assign it to me?

[2022-10-01 18:38] mitpancholi98 commented on #4
Oops! I accidentally used table instead of grid in my pr.

Didn't know @saroshfarhan was working. Sorry ! @wasimreja @saroshfarhan

[2022-10-01 18:51] i-ujjwaljha opened #24 "Introduction of Navbar"
Placing the navbar on the top of the page will help the users to go through a lot of options that the website has to provide. All well having all the required features in front of the eyes will help the user to have a good experience.

[2022-10-01 18:52] i-ujjwaljha commented on #24
Can you please assign me the role to work on this issue?

[2022-10-01 18:55] Sir-Martin-Esq-III commented on #4
No offence man but this issue was assigned to me, Im sure there's plenty of other issue's you could have put your hard work towards :)

[2022-10-01 18:59] EmmaDawsonDev opened #25 "Use semantic header tag"
## Describe the Bug 🐛

```<div class="header">``` should be renamed to ```<header class="header>```

[2022-10-01 19:05] EmmaDawsonDev opened #26 "Search and results divs should be wrapped with main tag"
## Describe the Bug 🐛

The ```<div class="search>``` and ```<div class="results>``` should be wrapped in a ```<main>``` tag

[2022-10-01 19:10] dreymotoh commented on #26
can you assign this issue to me?

[2022-10-01 19:14] deep-69bits opened #27 "Proposal to add author name and page count"
## 🚀 Feature

**A clear and concise description of what the feature is.**
As Google books API also give information about author and number of pages book have
i will would like to add them in on the page so that user wont get confuse between two books with same name.

[2022-10-01 19:18] ShorunTech commented on #26
Can i work on this.

[2022-10-01 19:20] Sir-Martin-Esq-III opened #28 "Not participating in hacktoberfest?"
## Describe the Bug 🐛

Not quite sure if this is the appropriate place but it appears that this repo is not participating in hacktoberfest?

@wasimreja  Can you confirm this is true or make the relevant changes?

![image](https://user-images.githubusercontent.com/11279843/193424987-3bf97f22-46f1-420f-8a55-ed66e26841c2.png)

[2022-10-01 19:42] nishtha53 commented on #25
Can u please assign to me? @EmmaDawsonDev

[2022-10-01 19:51] nishtha53 commented on #25
@EmmaDawsonDev please can u check my PR and approve it.

[2022-10-01 19:56] nishtha53 commented on #26
can i work on this?

[2022-10-01 20:18] luiserdef commented on #28
That is because there is a text error the tags for this repo, its say "hactoberfest" instead of "hacktoberfest"

[2022-10-01 20:20] Sir-Martin-Esq-III commented on #28
Ah you're right, didn't notice that. Maybe you should update that @wasimreja XD

[2022-10-01 20:21] EmmaDawsonDev commented on #25
It's not my repo so I can't assign unfortunately.

[2022-10-01 20:25] nishtha53 commented on #25
oh okay
@wasimreja  please can u assign to me?

[2022-10-01 20:43] jetchirag opened #31 "Improved UI for book list"
## 🚀 Feature

**A clear and concise description of what the feature is.**
Currently the search results look connected and unpleasing.

**Describe the solution you'd like**
I'm proposing this layout for the same.

![Screenshot_47](https://user-images.githubusercontent.com/15169678/193427564-746f914b-dbe2-4628-a95e-5f2eda5cff3d.png)

Please add hacktoberfest tag if this looks good so I can start wor

[2022-10-01 21:10] Tobshub opened #32 "The description is too long"
## 🚀 Feature

Reduce the initial description shown to users

**Is your feature request related to a problem? Please describe.**
Sometimes, the book description is really long, and if it isn't the book you are looking for, you might get thrown off.

**Describe the solution you'd like**
It's better to show some of the description and have an option to show the rest.

[2022-10-01 21:46] iamHrithikRaj commented on #32
I'd like to work on this, also if possible can you add `hacktoberfest` tag on this issue?

[2022-10-01 21:52] LordMahir commented on #6
Can you please assign this to me ?

[2022-10-01 21:56] Tobshub commented on #32
I can't add any labels, I don't know why. I want to add hacktoberfest as well

[2022-10-01 22:01] iamHrithikRaj commented on #32
I think the reason might be that you haven't added `hacktoberfest` in your repo. If you see there's a typo its `hactoberfest` instead of `hacktoberfest`

<img width="283" alt="Screen Shot 2022-10-02 at 3 30 26 AM" src="https://user-images.githubusercontent.com/50907893/193429927-2eeac2c5-4ffc-4705-9335-308289d407ce.png">

[2022-10-01 22:48] DevilzzNikhil opened #34 "Adding Voice Method"
## 🚀 Feature

**A clear and concise description of what the feature is.**

**Is your feature request related to a problem? Please describe.**
I was very frustrated to read description of books . Mostly we don't want to read f there is an option to listen

**Describe the solution you'd like**
I would like to add the option of speaker button so that on clicking that user can read description of part

[2022-10-01 23:14] jbecker7 commented on #9
I am not seeing any sort of favicon right now on the onrender. @Anjali2201 can you please let me know what you would like the favicon to be? I can fix it right away.

[2022-10-01 23:40] nilesh9836 commented on #27
i already add the author name with book title

[2022-10-02 01:18] raji2004 commented on #34
Can I work on this

[2022-10-02 04:53] Bibhavshah commented on #9
Can I try working on it?

[2022-10-02 06:03] IAmTamal opened #36 "[OTHER] Updates : Issue Templates 🛠"
## What i am suggesting to update ?

I am suggesting to update the Issue templates , currently we are using `.md` files instead of the brand new issue forms with `.yml` files.

## Why to update it ?

Adding an issue Template allows you to organize the issues made by folks in a much better way.
 - We can know if someone wants to write a test or maybe fix something in the website
 - The issue templa

[2022-10-02 07:37] #1 closed

[2022-10-02 07:41] #11 closed

[2022-10-02 08:36] wasimreja commented on #24
already done

[2022-10-02 08:39] nishtha53 commented on #25
@wasimreja it is already done. Could you please check my PR. I have removed vscode settings file too.

[2022-10-02 08:53] wasimreja commented on #7
@aaheli8 go ahead

[2022-10-02 08:57] EmmaDawsonDev commented on #26
Please assign to someone else. I've already got my 4 hacktoberfest PRs and was just trying to help others by finding good first issues

[2022-10-02 08:57] EmmaDawsonDev commented on #25
Please let @nishtha53 take the issue. I was just trying to help others find good first issues

[2022-10-02 09:02] nishtha53 commented on #25
@EmmaDawsonDev Thankyou. It got resolved.
@wasimreja please close this issue.

[2022-10-02 09:56] #25 closed

[2022-10-02 09:58] wasimreja commented on #26
@nishtha53 would you like to work on this?

[2022-10-02 09:59] wasimreja commented on #26
@dreymotoh go ahead

[2022-10-02 10:03] nishtha53 commented on #26
@wasimreja yes I can work on this. Please assign to me!

[2022-10-02 10:04] KanishkDadhich commented on #7
Hey @wasimreja .
I would like to work on this  issue, if nobody's working on it currently.

[2022-10-02 10:17] nishtha53 commented on #26
@wasimreja Please check PR.

[2022-10-02 11:02] DevilzzNikhil commented on #34
@wasimreja  can u assign it for hacktoberfest ??

[2022-10-02 15:38] ALIPHATICHYD opened #43 "Addition of the SCSS File"
## 🚀 SCSS Files
I uploaded them here because I couldn't add the files to the repository.
All you have to do is to UnZip the file and then add them to your repository.
[Archive.zip](https://github.com/wasimreja/book-finder/files/9692896/Archive.zip)

[2022-10-02 15:56] DivyaKumarBaid opened #44 "No book found response"
## Describe the Bug 🐛
Whenever you type a book name not found in the backend, it doesn't show any response i.e. book not found or something like that.
![image](https://user-images.githubusercontent.com/78469660/193463602-03db274e-4e14-4993-abc1-cd032918d1a6.png)

**A clear and concise description of what the bug is**
When a user types any book name that is not found, it doesn't show any response a

[2022-10-02 16:15] Ryukemeister opened #46 "A dark mode feature"
## 🚀 Feature

**I'd like to propose a dark mode button on the top right corner of the landing page**

- By toggling our dark mode button, our user can switch between the original light background to a dark black background while the title would change to a white color.
-  The dark mode would look something like this with a button at the top right corner

![Dark mode](https://user-images.githubuser

[2022-10-02 16:47] Rituraj-13 commented on #2
Hey @KanishkDadhich , I want to work on this. Can you please assign this to me?

[2022-10-02 17:09] DivyaKumarBaid commented on #44
I have created a PR for the issue.
#51
kindly close the issue.

[2022-10-02 17:10] DivyaKumarBaid commented on #44
I have created a PR for the issue.
#51
kindly close the issue.

[2022-10-02 17:56] KiranAminPanjwani opened #52 "Adding a Modern Scrollbar"
## 🚀 Feature

I want to add a **scroll progress bar**, which is generally seen on modern websites, which would be a good addition to this website.

I'm a participant in Hacktoberfest, kindly assign this issue to me. Thank you.😊

**Is your feature request related to a problem? Please describe.**

I have noticed that after searching for a book, It shows a variety of books to the user. And the existi

[2022-10-02 18:20] RowinRuizendaal opened #53 "Adding a loading spinner Currently if you search for a book and you have slow internet there is no indication that it fetches the data based on your input. Adding a loader spinner while its fetching data gives the user a indication that something is happening."
## 🚀 Feature

**A clear and concise description of what the feature is.**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise de

[2022-10-02 18:48] wasimreja commented on #52
@KiranAminPanjwani go ahead

[2022-10-02 19:14] #44 closed

[2022-10-02 19:15] #4 closed

[2022-10-02 19:15] #2 closed

[2022-10-02 19:15] #6 closed

[2022-10-02 19:16] #9 closed

[2022-10-02 19:17] #24 closed

[2022-10-02 19:17] #26 closed

[2022-10-02 19:18] #27 closed

[2022-10-02 19:20] wasimreja commented on #46
already raised this issue before

[2022-10-02 19:20] #46 closed

[2022-10-02 19:31] Bibhavshah opened #55 "Add Favicon"

[2022-10-02 19:52] vandana3869 opened #56 "Adding a day-night toggle button to the landing page"
## 🚀 Feature

**A clear and concise description of what the feature is.**

**Is your feature request related to a problem? Please describe.**
As a programmer, I prefer dark mode because it is more comfortable for eyes.

**Describe the solution you'd like**
I would like to add one button for switching between dark and light mode.

**Describe alternatives you've considered**
A clear and concise desc

[2022-10-02 20:54] DivyaKumarBaid opened #57 "Clearing input field after search"
## Describe the Bug 🐛

**A clear and concise description of what the bug is**
The input field clears when you search thus it is hard to know what was searched

[2022-10-02 22:24] jetchirag commented on #31
@wasimreja PR created

[2022-10-02 22:41] Keshab0100 opened #59 "Adding a scroll up button when scrolling down would help to navigate to top instantly"
## 🚀 Feature

**A clear and concise description of what the feature is.**

A scroll to top button would be convenient and improve the overall UX of the website.

**Is your feature request related to a problem? Please describe.**
If a user scrolls down and wants to search another book he/she has to scroll all the way back up.

[2022-10-02 22:43] Keshab0100 commented on #59
Please check my pull request #60 and consider it for hacktoberfest 2022

[2022-10-03 01:38] inglorious-ratbastard commented on #57
Please add Hacktoberfest label to this issue.

[2022-10-03 07:04] #13 closed

[2022-10-03 07:05] #31 closed

[2022-10-03 07:18] #15 closed

[2022-10-03 07:21] jackwebdev opened #63 "Add prefers-color-scheme for automatic dark mode"
## 🚀 Feature

**A clear and concise description of what the feature is.**
I have added the css prefers-color-scheme which allows for dark mode to automatically apply on devices the support this CSS tag.

See pull request #22.

**Additional context**
![193423370-c16f972f-912f-4baf-9034-e93815311f3d](https://user-images.githubusercontent.com/33595694/193521432-7270f63b-8bf0-45ff-b457-0012abddd217.pn

[2022-10-03 07:32] Bibhavshah commented on #15
@wasimreja what happened, why close?

[2022-10-03 07:36] wasimreja commented on #15
already done

[2022-10-03 07:38] Bibhavshah commented on #15
but it was assigned to me?

[2022-10-03 08:38] #36 closed

[2022-10-03 09:02] Ryukemeister opened #65 "Add website image at the top of readme and the website link in readme"
### 📚 Documentation

- It would be better if there was a link to the website in the README.md in case someone misses it in the about section of the project.
- Also it would describe the project better if the first image would be of the landing page so that it would describe it better and then we can include a separate hacktoberfest section instead of the last part which includes screenshot.

### A

[2022-10-03 09:02] VasuDevrani opened #66 "No substitute for undefined data"
### Describe the bug

The data being fetched from the api do contain some undefined fields which need to be fixed using ternary insertion
I'm willing to solve this bug
Please mark it as hacktoberfest as well

<img width="897" alt="image" src="https://user-images.githubusercontent.com/101383635/193538845-f8ce5659-1718-4213-a9d7-fcba9ff6a6d8.png">

### Steps to reproduce

In the provided screenshot,

[2022-10-03 09:58] #66 closed

[2022-10-03 10:02] #57 closed

[2022-10-03 16:19] MridulTailor opened #71 "Automatic scroll to first child of result"
### Is your feature request related to a problem? Please describe.

If we search something and still have to scroll for the fetched result, is not user freindly.

### Describe the solution you'd like

When the result is fetched, immediately scroll to the first element of result with help of scrollIntoView() function, so that we don't have to scroll again.

### Describe alternatives you've consider

[2022-10-03 16:50] Ajaiqmar commented on #71
I just went over this issue and I was able to implement what you were asking, Its just a matter of adding window.location.href="#results" at the end of else loop in main.js. <a href="https://ajaiqmar.github.io/book-finder/">Here</a> is the website for you to preview. I'll make a pull request as well.

[2022-10-03 20:58] Pargat-Dhanjal opened #74 "Add jQuery, Favicon and Animate on Scroll"
### Is your feature request related to a problem? Please describe.

The website is beautifully desigend but it still need a equally beautifull Favicon. Along with smooth on scroll animations for the website while loading the books query.

### Describe the solution you'd like

I would firstly like to shorten the main.js file by using jQuery and implement AOS in js so as to improve the visual feel o

[2022-10-03 21:29] rahul-jamwal opened #75 "Improve Card layout"
### Is your feature request related to a problem? Please describe.

No, just an extra feature that I would like to add

### Describe the solution you'd like

If description is too long it doesn't trim it so that the cover fits with it.
![image](https://user-images.githubusercontent.com/96597395/193695902-e7808712-2a14-4cc7-aaa9-563b4c2603e5.png)

### Describe alternatives you've considered

I woul

[2022-10-03 21:29] rahul-jamwal commented on #75
Can you please assign this to me

[2022-10-04 07:37] Vanshiii203 opened #77 "Changing background of home page"
### Is your feature request related to a problem? Please describe.

A better background image could be set

### Describe the solution you'd like

I would like to change the background

### Describe alternatives you've considered

![Screenshot (452)](https://user-images.githubusercontent.com/94471189/193761704-639f773a-5da9-4a69-801b-0a683140ad03.png)
![Screenshot (453)](https://user-images.githubu

[2022-10-04 09:45] wasimreja commented on #77
@Vanshiii203 raise the pr in hacktoberfest branch not main branch

[2022-10-04 09:51] #65 closed

[2022-10-04 13:48] MridulTailor commented on #71
hey can you add one more label 'hacktoberfest-accepted' please?

[2022-10-04 14:03] Wangata opened #79 "About page"
### Is your feature request related to a problem? Please describe.

I love the idea, and when I first opened the website I didn't know what it does, my feature is related to adding an new About page to tell the visitor about book finder a

### Describe the solution you'd like

Add an About page

### Describe alternatives you've considered

Add an About page

### Additional context

_No response_

[2022-10-04 16:36] wasimreja commented on #71
pr must be labeled as hacktoberfest-accepted

[2022-10-04 20:22] Aarav238 commented on #7
I would like to work on this issue if it is free . @wasimreja

[2022-10-04 21:45] sanil011 opened #83 "Wave form label"
### Is your feature request related to a problem? Please describe.

Yes, A good animation could be set.

### Describe the solution you'd like

i would like to add animation when we click on search bar.

### Describe alternatives you've considered

we can a qoute section related to book or habit of reading below the search bar

### Additional context

https://user-images.githubusercontent.com/10509

[2022-10-05 03:27] aaheli8 commented on #7
I am working on this issue

[2022-10-05 08:10] #75 closed

[2022-10-05 08:10] #18 closed

[2022-10-05 10:35] #77 closed

[2022-10-06 12:54] #56 closed

[2022-10-06 15:48] Vanshiii203 opened #89 "search button"
### Is your feature request related to a problem? Please describe.

Adding hover property to the search button

### Describe the solution you'd like

I will add a hover effect and transition to the search button
https://user-images.githubusercontent.com/94471189/194359073-f83b7bd7-771e-492d-9863-df0193c3ef7c.mp4

### Describe alternatives you've considered

-

### Additional context

_No response_

[2022-10-06 16:13] wasimreja opened #90 "Add a floating back to top button"
### Is your feature request related to a problem? Please describe.

Add a floating back to top button like this https://codeconvey.com/floating-back-to-top-button-html/ so that the user doesn't have to scroll through the whole page and get on the top of the page just by clicking on the button.

### Describe the solution you'd like

bla bla bla

### Describe alternatives you've considered

bla bla

[2022-10-06 16:15] SainathPoojary commented on #90
Hey @wasimreja, I want to work on this. Can you please assign it to me?

[2022-10-06 16:16] abel-otegbola commented on #90
Hi @wasimreja  nice project you have here.
Can I work on it.

[2022-10-06 16:18] DevilzzNikhil commented on #90
@wasimreja  can i work on this ??

[2022-10-06 16:25] debjitnandan05 commented on #90
Hey!! @wasimreja I want to work on this project with you. Can you please assign it to me?

[2022-10-07 09:55] wasimreja opened #93 "Add a loading spinner"
### Is your feature request related to a problem? Please describe.

Currently if you search for a book and you have slow internet there is no indication that it fetches the data based on your input.

### Describe the solution you'd like

Add a animated loading spinner.

### Describe alternatives you've considered

https://github.com/jlong/css-spinners

### Additional context

_No response_

[2022-10-07 09:59] SOUMYADIP76 commented on #93
I

[2022-10-07 10:11] wasimreja opened #94 "Fix listen button"
### Describe the bug

Listen button is not working properly on few browsers.

### Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Fix listen button so that user can listen description about a book.

### Screenshots

_No response_

### Desktop

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

### Smartphones

[2022-10-07 10:12] najeebkp commented on #94
Hi @wasimreja please assign this to me. I'll take care.

[2022-10-07 10:15] wasimreja commented on #94
all the best @najeebkp

[2022-10-07 11:29] #94 closed

[2022-10-07 12:26] #83 closed

[2022-10-07 12:42] #20 closed

[2022-10-07 12:43] #32 closed

[2022-10-07 13:04] cu8code commented on #90
Please check my [PR](https://github.com/wasimreja/book-finder/pull/92#issue-1400713808). Please let me know if anything needs to be added.

[2022-10-07 13:34] Tobshub commented on #32
can I ask why you closed this?

[2022-10-07 13:39] IsabellaSoares opened #96 "Title and image overlapping the header in the scroll"
### Describe the bug

When the user searches for a book and scrolls the screen, the title and the image of the book overlay the application header.

### Steps to reproduce

1. Go to the home page
2. Click on the search bar
3. Search for "The reed queen" book
4. Scroll down to the bottom of the page
5. See that the title and the image overlap with the header

### Expected behavior

The title and im

[2022-10-07 13:39] JunDevHarsh opened #97 "Navbar Overlapping Issue"
### Describe the bug

When trying to scroll down, the navbar faces an overlapping issue.

Here is the image:

![github](https://user-images.githubusercontent.com/94737463/194566467-1db92bb2-3953-4c12-9339-363f0bfa811a.png)

### Steps to reproduce

1. Go to 'index.html' or main Home page
2. Search for a particular book
3. Scroll down a little bit
4. See navbar

### Expected behavior

Navbar should

[2022-10-07 13:41] IsabellaSoares commented on #96
Hi @wasimreja, I want to work with this. Can you assign this to me?

[2022-10-07 13:42] JunDevHarsh commented on #97
If you add `hacktoberfest` label then I would appreciate it.

[2022-10-07 13:53] IsabellaSoares opened #99 "Redirect to the home page by clicking on the header logo"
### Is your feature request related to a problem? Please describe.

When the user clicks on the logo, he should be redirected to the home page, clearing his previous search history. Currently this is not the case, and it is only possible to do this redirection by clearing the URL.

https://user-images.githubusercontent.com/32148199/194570139-e2bcd0b8-8ad2-4992-8b26-b4362c9f60c7.mov

### Describe t

[2022-10-07 13:54] Yugal308 commented on #96
Hi @wasimreja, I want to work on this as well. Can you assign this to me as well?

[2022-10-07 13:54] IsabellaSoares commented on #99
Hi @wasimreja! I want to work with this, can you assign this to me?

[2022-10-07 14:24] kushaljgec2025 opened #103 "UI Enhancement"
### Is your feature request related to a problem? Please describe.

The UI of the website is so simple. So I want to beautify the UI. I want to work on that

### Describe the solution you'd like

I can make the background better with a cool theme. And also can add a light-night button. And so on.

### Describe alternatives you've considered

I can make the background better with a cool theme. And

[2022-10-07 15:22] wasimreja commented on #99
assigned @IsabellaSoares

[2022-10-07 15:27] #97 closed

[2022-10-07 15:28] #96 closed

[2022-10-07 15:29] #89 closed

[2022-10-07 15:34] AbirSantra opened #106 "Search Result Card UI Redesign"
### Is your feature request related to a problem? Please describe.

Currently, the search result cards show I bit too much information about the book at once. This seems to be a bit overwhelming for the user. Also, the user is able to see fewer results on the screen at once since each book is having too long descriptions and they have varying lengths. Also, the card's UI can be improved a bit.

![

[2022-10-07 15:35] AbirSantra commented on #106
I want to work on this issue under Hacktoberfest

[2022-10-07 15:38] wasimreja commented on #106
assigned @AbirSantra

[2022-10-07 15:42] utkarsh2709 commented on #106
Hello @wasimreja, Pls assign this issue to me. I am a professional UI/UX Developer.

[2022-10-07 16:05] chnrv99 commented on #93
whats the logo and the dimensions for the loading spinner? anything else on how it should look , etc?

[2022-10-07 16:23] BlizZard-bot opened #108 "Refactor JS code to make syntax/wording more consistent"
### Is your feature request related to a problem? Please describe.

Currently, the code in the JS file is pretty inconsistent and it is unclear what syntax it is trying to conform to.
Here is a list (basically acceptance criteria) of some of the issues I've noticed:
- [x] Usage of `var` along with `let` and `const`. In accordance with ES6 features/syntax, `var` should be avoided unless absolutely

[2022-10-07 16:39] Crippler93 opened #109 "Form shouldn't do AJAX request if input is empty"
### Describe the bug

I noticed that when input is empty, the form is still doing a request. Getting a 400 response from API.

### Steps to reproduce

1. Go to 'http://127.0.0.1:5500/index.html'
2. Leave search input empty
3. Click on search or press enter
4. The AJAX request is sent and you receive a 400 status code.

### Expected behavior

Form should not do the request if input is empty

### Sc

[2022-10-07 16:43] heysagnik commented on #109
Can I work on this?

[2022-10-07 16:45] Crippler93 commented on #109
I would like to work on this, if they approve it, sorry

[2022-10-07 19:10] aditi10701 opened #114 "Adding a footer"
### Is your feature request related to a problem? Please describe.

its adds an additional functionality to the website.

### Describe the solution you'd like

add a footer to add copyright.

### Describe alternatives you've considered

nil

### Additional context

_No response_

[2022-10-08 03:14] mnosov622 commented on #114
Hello @aditi10701 !

I would love to work on this issue. Could you please assign it to me and let me know what footer is expected ?

[2022-10-08 03:54] abhijain2003 commented on #114
hey can you assign this to me

[2022-10-08 07:45] anushkamandal25 commented on #99
Hello! Is this issue applicable for hacktoberfest? This is my first time in hacktoberfest. I want to contribute in this issue. So please assign me.

[2022-10-08 08:09] #109 closed

[2022-10-08 08:09] wasimreja commented on #99
@IsabellaSoares what's the update?

[2022-10-08 08:10] #63 closed

[2022-10-08 09:06] Urmilasc commented on #114
Hello , I want to contribute in this issue , can you please assign to me?

[2022-10-08 09:42] SOUMYADIP76 commented on #93
Should I commit to the main branch or to the hacktoberfest branch @wasimreja  ?

[2022-10-08 10:25] wasimreja commented on #93
main branch

[2022-10-08 11:39] Manmohan11 opened #117 "keyboard shortcut for the search bar"
### Is your feature request related to a problem? Please describe.

The Ctrl+K keyboard shortcut has a specific function in most browsers.

### Describe the solution you'd like

Ctrl+K should focus on the search bar.

### Describe alternatives you've considered

In some browsers "/" also focuses on the search bar.

### Additional context

_No response_

[2022-10-08 11:40] Manmohan11 commented on #117
I want to work on this, please assign this to me.

[2022-10-08 14:37] THE-AryanKumar opened #118 "Add Floating Animation on "Book Finder" svg."
### Is your feature request related to a problem? Please describe.

Not a problem.

### Describe the solution you'd like

Just to make the website more interactive and user-friendly.
When you will hover over the main "Book Finder" logo - it will float up-down. Just cool thing.

### Describe alternatives you've considered

NA

### Additional context

NA

[2022-10-08 14:38] THE-AryanKumar commented on #118
@luiserdef If you like the idea. Can you pls  /assign this to me.

[2022-10-08 15:13] DanarVirkan opened #122 "Make code for rendering card more readable"
### Is your feature request related to a problem? Please describe.

The code to render the card is hard to understand

### Describe the solution you'd like

I'd like to split the code into smaller function and make the code easier to read and maintain

### Describe alternatives you've considered

I can make custom element to make the code more easier to read and maintain

### Additional context

_

[2022-10-08 15:42] srummanf commented on #59
Can you assign this to me @wasimreja I m free and will work on this now

[2022-10-08 15:50] srummanf opened #123 "Home Post App"
### Is your feature request related to a problem? Please describe.

It is a React based application which will teach how to use react and bootstrap

### Describe the solution you'd like

It is a React based application

### Describe alternatives you've considered

None

### Additional context

_No response_

[2022-10-08 15:54] #123 closed

[2022-10-08 18:58] disha815 commented on #114
hey @aditi10701
pls assign this issue to me

[2022-10-09 05:12] manishgupta416 commented on #99
Can you assign to me?

[2022-10-09 07:24] #59 closed

[2022-10-09 07:24] #90 closed

[2022-10-09 07:27] #99 closed

[2022-10-09 07:30] #108 closed

[2022-10-09 07:33] wasimreja commented on #106
go ahead @utkarsh2709

[2022-10-09 07:49] #118 closed

[2022-10-09 07:49] #122 closed

[2022-10-09 07:49] abhijain2003 commented on #114
hey it's a joint assigned so, other contributors how you are going to do please tell me

[2022-10-09 08:00] #117 closed

[2022-10-09 08:02] aditi10701 commented on #114
A footer of such type can be added
![image](https://user-images.githubusercontent.com/98349669/194745073-bbf489ca-fcf1-444b-8d80-1c0369ba1082.png)

[2022-10-09 08:04] abhijain2003 commented on #114
can you share social media links to be added

[2022-10-09 08:05] aditi10701 commented on #114
It will be based on the project owner details.

[2022-10-09 08:07] wasimreja commented on #114
exclude social media links

[2022-10-09 08:08] aditi10701 commented on #114
sure

[2022-10-09 08:27] Manmohan11 commented on #117
If someone don't want to use mouse to focus on search box then just by using 'ctrl+k' or '/' , he /she can start typing into the search box.
@wasimreja please assign this issue to me,I want to work on this

[2022-10-09 08:37] aditi10701 commented on #114
s this fine?
![image](https://user-images.githubusercontent.com/98349669/194746699-746a869b-ef9b-4c75-833c-0c3c96221ae4.png)

[2022-10-09 09:21] Brainshaker95 opened #127 "Refactor usages of "var""
### Is your feature request related to a problem? Please describe.

I noticed that some variable decalrations still use `var` instead of `let`.
Since the project already uses ES6 syntax elsewhere and this might lead to issues with hoisting later on.

### Describe the solution you'd like

Replace all current usages of `var` with `let`.

### Describe alternatives you've considered

/

### Additional

[2022-10-09 09:21] Brainshaker95 commented on #127
I would like to work on this issue if it's okay

[2022-10-09 10:15] Laxmankohar opened #130 "Add a favicon to the website"
### Is your feature request related to a problem? Please describe.

Yes,it helps users save time by allowing them to identify and browse your website without difficulties.

### Describe the solution you'd like

I will add a favicon to the website .

### Describe alternatives you've considered

NA

### Additional context

![image](https://user-images.githubusercontent.com/73365025/194750838-9f24659

[2022-10-09 13:02] #93 closed

[2022-10-09 13:04] wasimreja opened #131 "JQuery Ajax loading spinner only on first request"
### Describe the bug

Spinner is loading once at the first time of reload of the page.

### Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

bla bla bla

### Screenshots

_No response_

### Desktop

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

### Smartphones

- Device: [e.g. iPhone6]
- OS: [e.g. iOS8.1]

[2022-10-09 13:05] #127 closed

[2022-10-09 15:22] mnosov622 commented on #114
Hi @wasimreja !

Why it has been reassigned? 🥲

[2022-10-09 15:51] gajanansr opened #135 "Proper Alignment and spacing required on hero header page the nav bar and content are very close"
### Describe the bug

Proper Alignment and spacing required on hero header page the nav bar and content are very close

### Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Spacing to be given

### Screenshots

![Screenshot (4)](https://user-images.githubusercontent.com/97657400/194766564-8c030144-5a01-4a46-a615-f8d140aa3594.png)

[2022-10-09 15:51] gajanansr commented on #135
Assign this to me

[2022-10-09 15:53] tanishk-23 commented on #131
@wasimreja Can you please assign this issue to me?

[2022-10-09 15:54] gajanansr opened #136 "Site isnt responsive"
### Describe the bug

text and image and everything isnt responsive

### Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

should be responsive

### Screenshots

_No response_

### Desktop

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

### Smartphones

- Device: [e.g. iPhone6]
- OS: [e.g. iOS8.1]
- Browser

[2022-10-09 15:54] gajanansr commented on #136
Asign This To Me and add a hacktoberfest label

[2022-10-09 17:29] #130 closed

[2022-10-09 17:46] SujalSamai opened #139 "README.md update, better about section and fixing few mistakes in Features section"
### 📚 Documentation

I would like to make certain changes in README file, there are some errors in features section and also I would like to add more about this wonderful website in the About section.

### Add relevant screenshot or video (if any)

_No response_

### Additional context

_No response_

[2022-10-09 17:55] Ayushbajpai19 commented on #139
Hello, can i work on this issue please?

[2022-10-09 17:56] Ayushbajpai19 commented on #114
Hello, can i work on this issue please, i would like to redesign this footer and further work on it!

[2022-10-09 17:56] Ayushbajpai19 commented on #79
Hello, can i work on this issue please?

[2022-10-09 18:05] Wangata commented on #79
Apologies I've been away, I have worked on the issue pushing it shortly,

[2022-10-09 18:28] wasimreja commented on #79
okiee, best of luck

[2022-10-09 20:45] Wangata commented on #79
hey, bro, I have made the required changes but since I am new to git and GitHub I am finding it hard to commit push the changes again after I have updated the branch, and doing all the possible git commands doesn't seem to fix the issues.
![image](https://user-images.githubusercontent.com/13100730/194778588-933468ef-3d96-40f6-abb2-8b2b45dfbc47.png)

and also this is the error I am getting in my te

[2022-10-10 02:14] mnosov622 commented on #114
Hello @wasimreja,

Could you review my PR, please ? #137

Thank you.

[2022-10-10 07:21] wasimreja commented on #79
@Wangata always take a pull from the upstream repository to your main branch
[code]

[2022-10-10 07:35] #139 closed

[2022-10-10 07:36] #131 closed

[2022-10-10 07:37] #7 closed

[2022-10-10 07:55] wasimreja opened #144 "Enhance light/dark mode toggle button"
### Is your feature request related to a problem? Please describe.

Enhance light/dark mode theme switch.

### Describe the solution you'd like

Create minimal light/dark mode toggle button. Use this icons:
- https://fontawesome.com/icons/sun-bright?s=solid&f=classic
- https://fontawesome.com/icons/moon?s=solid&f=classic

### Describe alternatives you've considered

NA

### Additional context
Simi

[2022-10-10 08:01] KaxitPandya commented on #103
@wasimreja I Think I Can Modify The UI to a Great Extend, Please Assign This Task to me

[2022-10-10 08:04] wasimreja commented on #103
@KaxitPandya best of luck!

[2022-10-10 08:31] anant-strong commented on #144
@wasimreja i'd like to work on this issue

[2022-10-10 10:27] Wangata commented on #79
Hi, @Ayushbajpai19 I will unassign this issue as I try to figure out git so that I don't interfere with the main branch. So feel free to take it up. Thanks

[2022-10-10 10:29] Ayushbajpai19 commented on #79
Yes, please assign it to me :)

[2022-10-10 10:42] wasimreja commented on #114
keep the background similar to nav bar, remove terms & conditions, privacy policy, align copyright to center

[2022-10-10 10:45] Ayushbajpai19 commented on #79
Can you open this issue, it shows the issue as closed, also please label it with hacktoberfest, thanks you :)

[2022-10-10 11:39] wasimreja opened #148 "Animate on scroll"
### Is your feature request related to a problem? Please describe.

Add animation to elements as you scroll into view and improve the user experience.

### Describe the solution you'd like

Use [AOS Library](https://github.com/michalsnik/aos) for animation.

### Describe alternatives you've considered

NA

### Additional context

_No response_

[2022-10-10 11:40] #74 closed

[2022-10-10 11:50] wasimreja opened #149 "Use Sass with CSS"
### Is your feature request related to a problem? Please describe.

Use Sass because it's much more easier because of the nesting and many other features.

### Describe the solution you'd like

NA

### Describe alternatives you've considered

NA

### Additional context

_No response_

[2022-10-10 11:59] satyamrs00 commented on #148
I want to work on this
assign it to me

[2022-10-10 13:09] Maxime-p commented on #149
So it consist of adding sass and a fast refacto of the style ?
If i'm right, i can take it

[2022-10-10 13:34] #148 closed

[2022-10-10 13:40] Maxime-p commented on #149
Do you want node_modules or sass/scss files compiled with cli ?

[2022-10-10 13:44] wasimreja commented on #149
you have to style using sass

[2022-10-10 15:38] JunDevHarsh opened #153 "Delay in card animation"
### Describe the bug

Here is the preview of the bug when user scoll down to see more content that causes the cards to show up very late. It effects the user experience.

https://user-images.githubusercontent.com/94737463/194902781-dea8dc53-18ca-4432-9b5a-eb93540b4b0e.mp4

### Steps to reproduce

1. Open `main` page
2. Search for a book
3. Scroll down to show up other cards
4. See the bug

### Exp

[2022-10-10 15:39] JunDevHarsh commented on #153
I would appreciate if you assigned me to fix this issue.

[2022-10-10 15:52] mnosov622 commented on #114
@wasimreja Hi!

Could you review my PR , please ? #137

[2022-10-10 16:33] wasimreja commented on #114
@mnosov622 make the necessary changes as i said

[2022-10-10 16:36] #153 closed

[2022-10-10 17:00] mnosov622 commented on #114
Sure, got it !

[2022-10-10 17:27] aditi10701 commented on #114
is the footer fine?
![image](https://user-images.githubusercontent.com/98349669/194921949-1ac62c30-0f43-4822-a3f0-7171100f8d06.png)

[2022-10-10 17:27] aditi10701 commented on #114
is the footer fine?
I made the necessary changes.
![image](https://user-images.githubusercontent.com/98349669/194921949-1ac62c30-0f43-4822-a3f0-7171100f8d06.png)

[2022-10-10 17:34] nilesh9836 opened #155 "Restrict api call when there is blank string in search parameter"
### Describe the bug

There should be no api call when user hit enter without typing any text either by typing only space

### Steps to reproduce

1. Go to page
2. click on the search icon without typing

### Expected behavior

There should be no api call when user hit enter without typing any text either by typing only space

### Screenshots

![Uploading Screenshot 2022-10-10 at 10.56.36 PM.png…]

[2022-10-10 17:40] nilesh9836 commented on #155
@wasimreja I have sent you a pull request please look into it. Let me know for any query

[2022-10-10 17:44] mnosov622 commented on #114
Guys, maybe we all make small changes so that everyone could contribute ?

[2022-10-10 18:05] gaurav-iitb commented on #144
can you please assign it to me

[2022-10-10 18:31] Manmohan11 commented on #117
Hey, @wasimreja can you please tell me, why did you closed this issue..?

[2022-10-10 19:51] Ayushbajpai19 commented on #114
![image](https://user-images.githubusercontent.com/60637499/194942055-9477e138-09b6-4724-81b9-91ca4e6b823b.png)

This is something that I tried doing, you just need to add the links and change icons for the desired social media icons, also if you can provide links it would be great, I will do it by myself.

[2022-10-10 20:28] Ayushbajpai19 commented on #79
@wasimreja can I add the following text to the about page?

BookFinder is your go-to place for all kinds of book-related searches, need to read a book but don't know where to find it?
We got your back! Started in 2022, we are an open-source free search engine with over a million books and more to find out.
Here you won't just be able to read books but also listen to them. So what are you waiting f

[2022-10-11 06:30] wasimreja commented on #79
@Ayushbajpai19 all good

[2022-10-11 06:33] Ayushbajpai19 commented on #79
Hey @wasimreja i am somehow not able to push my changes, can you help me a little bit?

[2022-10-11 07:12] wasimreja commented on #79
yeah sure! as i can see you're trying to merging commits into main branch from hacktoberfest branch. clone main branch, create a new branch for yourself and make necessary changes then push the committed changes in your feature branch to your remote repo

[2022-10-11 07:44] Ayushbajpai19 commented on #79
I have already made all the changes but am not able to commit, if you could open upload files section, I ould be able to commit changes

[2022-10-11 10:15] #103 closed

[2022-10-11 10:17] wasimreja commented on #106
@utkarsh2709 are you working on it? otherwise i'll close the issue

[2022-10-11 10:29] utkarsh2709 commented on #106
@wasimreja I am working on it.

[2022-10-11 13:31] gaurav-iitb commented on #144
@wasimreja please review my pr for this issue

[2022-10-11 13:57] Dimterion opened #162 "Smaller screens adjustments"
### Is your feature request related to a problem? Please describe.

I've noticed that on smaller screens image, title and search bar on the main page look a bit clamped and there's a bit of horizontal scrolling.

### Describe the solution you'd like

Do you mind if I add a couple of media queries with image, header and search bar width and font-size adjustments? So it could fit the small screens b

[2022-10-11 14:19] 03amir opened #164 "getting result for empty search input"
### Describe the bug

getting result for empty search input

### Steps to reproduce

1. Go to 'the home page'
2. Click on 'search box'
3. entere multiple space and search
4. See error

### Expected behavior

no results for empty search

### Screenshots

_No response_

### Desktop

- OS: [Linux]
- Browser: [firefox]

### Smartphones

.

### Additional context

_No response_

[2022-10-11 14:56] wasimreja commented on #155
you haven't taken pull from the upstream repository

[2022-10-11 15:25] #162 closed

[2022-10-11 15:57] priyadarshni-jha opened #165 "Change the current illustration and font."
### Is your feature request related to a problem? Please describe.

No it is not related to a problem. This feature request  is to improve the visual aspect of the website.

### Describe the solution you'd like

Replacing the current fonts and illustrations with more appealing ones.

### Describe alternatives you've considered

Finding a font hierarchy that complements the illustration change.

##

[2022-10-11 16:14] wasimreja commented on #165
@priyadarshni-jha make changes on hacktoberfest branch, not main branch

[2022-10-11 16:45] nilesh9836 commented on #155
@wasimreja it seems that the issue is fixed.

[2022-10-11 17:36] #155 closed

[2022-10-11 18:37] pooranjoyb opened #168 "Add transition to the search bar"
### Is your feature request related to a problem? Please describe.

No its **not a problem** but it looks good when the **placeholder** in the search doesn't vanish on click.

### Describe the solution you'd like

I feel that the main attraction of the page is the title and the search bar of the page so I would like to add some of transitions to the search bar so that the placeholder doesn't vanis

[2022-10-12 06:45] #52 closed

[2022-10-12 06:47] pooranjoyb commented on #168
Thanks a lot @wasimreja Will get into this asap.

[2022-10-12 06:50] wasimreja commented on #168
@pooranjoyb best of luck!

[2022-10-12 09:07] Hiresh23 commented on #165
i would like to contribute

[2022-10-12 15:06] rohitroy-github commented on #114
Is this issue still open to work on ?

[2022-10-12 15:48] AnkitKarnAK opened #173 "Refreshing the page resets the theme to light mode"
### Describe the bug

When the page is refreshed on dark mode, the theme gets reset to light mode. It should be persisting.

### Steps to reproduce

1. Open web app.
2. Click on moon icon to set dark mode theme.
3. Refresh the page.
4. See theme gets reset to light mode.

### Expected behavior

It should persist the theme user has selected even on page refresh or visiting again.

### Screenshots

[2022-10-12 15:48] AnkitKarnAK commented on #173
Assign this to me, I would like to fix this issue.

[2022-10-12 16:25] wasimreja commented on #114
yes!

[2022-10-12 17:07] wasimreja opened #174 "Add minimalist scrollbar"
### Is your feature request related to a problem? Please describe.

Create a minimalist custom scrollbar.

### Describe the solution you'd like

NA

### Describe alternatives you've considered

NA

### Additional context

_No response_

[2022-10-12 17:16] jsvigneshkanna commented on #174
Hi @wasimreja ,
please asssign me this issue, will implement this

[2022-10-12 18:08] Ayushbajpai19 commented on #114
Wasim bro, I kind of agree with mnosov622, we should try to make small changes, so everyone gets a chance, will you be merging my pr or should I make necessary changes as you told?

[2022-10-12 18:31] anuragasawa20 opened #177 "adding of navbar"
### Is your feature request related to a problem? Please describe.

no it's not a problem . It is kind of feature which I want to add the website

### Describe the solution you'd like

I want to add navbar section with home, about us , search and faq feature

### Describe alternatives you've considered

i will add a navbar of this type
![image](https://user-images.githubusercontent.com/99682976/19

[2022-10-12 18:32] anuragasawa20 commented on #177
Also want to add hover effect on search cards

[2022-10-13 09:07] Simranjain06 opened #179 "Adding footer and contact us section"
### Is your feature request related to a problem? Please describe.

I want to add a footer that includes contact details and links to social media handles and a small about us description about you website. And I also want to add some new attractive buttons to your website...

### Describe the solution you'd like

So, I am thinking as when new users come, she/he must want to know what is this webs

[2022-10-13 09:08] Simranjain06 commented on #179
Hey,I want to work on this task, Can you assign it to me?

[2022-10-13 09:42] wasimreja commented on #114
do the changes to footer, i'll merge it. no need to work on about page.

[2022-10-13 09:51] wasimreja commented on #179
@Simranjain06 someone is already working on the footer, you can work on about page. contact page isn't needed.

[2022-10-13 09:52] wasimreja commented on #179
@Simranjain06 someone is already working on the footer, you can work on about page #79 . contact page isn't needed.

[2022-10-13 09:54] Purva2803 commented on #179
I also want to work on this issue I will make some improvements, please assign me this issue.

[2022-10-13 09:56] Purva2803 commented on #165
I will do some CSS changes please assign me this issue.

[2022-10-13 10:17] wasimreja commented on #177
add home, about us to navbar similar to this. no need to add hover effect on search cards
![194778588-933468ef-3d96-40f6-abb2-8b2b45dfbc47](https://user-images.githubusercontent.com/77227201/195570637-9104e69c-98d6-4222-8733-a3513923d050.png)

[2022-10-13 10:18] #173 closed

[2022-10-13 13:09] #174 closed

[2022-10-13 15:32] mnosov622 commented on #114
@wasimreja  I already did footer, could you merge my PR, please ?

Other people could fix it and make it look better.

[2022-10-13 18:39] Abhay5855 commented on #179
I also want to work on this issue can you assign it to me please @Simranjain06

[2022-10-14 01:25] Tahree22 commented on #144
Hello, I'd like to work on this issue. Could you assign this to me?

[2022-10-14 01:27] Tahree22 commented on #177
please assign this issue to me

[2022-10-14 01:51] Tahree22 commented on #177
I want to fix a bug on the navbar-brand (BookFinder) so that he page remains when it's clicked.

[2022-10-14 04:04] anuragasawa20 commented on #177
this is already assigned to me

On Fri, Oct 14, 2022 at 6:57 AM Tari ***@***.***> wrote:

[2022-10-14 10:11] danangtomo opened #186 "add notification if there is no internet connection"
### Is your feature request related to a problem? Please describe.

when accessing the website there are times when there are disturbances, including the internet connection suddenly being disconnected especially when working with API, but there is no feedback to the user for the problem

### Describe the solution you'd like

I think it is necessary to add a notification if there is no internet co

[2022-10-14 10:15] danangtomo commented on #186
gladly assign this issue to me

[2022-10-14 17:54] Abhay5855 commented on #179
@wasimreja  Thanks for assigning I will get on it and propose a solution soon

[2022-10-14 18:21] ajiteshsarangi commented on #179
Hello, I am a frontend developer and I would like to make some improvements.

[2022-10-14 19:11] #168 closed

[2022-10-15 11:35] #144 closed

[2022-10-15 11:36] #165 closed

[2022-10-15 13:23] wasimreja opened #190 "Enhance dark theme UI"
### Is your feature request related to a problem? Please describe.

Enhance dark theme UI.

### Describe the solution you'd like

NA

### Describe alternatives you've considered

NA

### Additional context

_No response_

[2022-10-15 13:33] Anuran12 commented on #190
@wasimreja I would like to work on this.

[2022-10-15 13:34] Anuran12 commented on #190
@wasimreja Please assign this to me

[2022-10-16 07:06] wasimreja opened #191 "Add about page"
### Is your feature request related to a problem? Please describe.

Add an about us page describing the project.

### Describe the solution you'd like

You can find the project description from `README.md`. Add home and about us links in navbar to help the user in navigating around the website.

### Describe alternatives you've considered

You can add illustration to make it more appealing.
https:

[2022-10-16 07:06] #79 closed

[2022-10-16 07:07] #177 closed

[2022-10-16 07:10] najeebkp commented on #191
hi @wasimreja  please assign this to me

[2022-10-16 07:10] #186 closed

[2022-10-16 07:12] #114 closed

[2022-10-17 05:13] #191 closed

[2022-10-17 09:09] wasimreja opened #194 "Improve navbar UI for small screens"
### Describe the bug

The navbar is not viewable in small screens.

### Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Improve navbar UI for small screens.

### Screenshots

![Screen Shot 2022-10-17 at 14 27 25](https://user-images.githubusercontent.com/77227201/196137658-adae7cf1-88ac-414c-a97a-7a0e7f6a46d5.png)

### Desktop

-

[2022-10-17 10:31] Yashkaka opened #196 "Description in dark mode"
### Is your feature request related to a problem? Please describe.

The description in about us page is not visible in dark mode.

### Describe the solution you'd like

Adding Different styling to make it adaptable

### Describe alternatives you've considered

Creating  a javascript function for manipulating the contents of description

### Additional context

_No response_

[2022-10-17 10:52] #196 closed

[2022-10-17 15:05] wasimreja opened #200 "Make about page responsive"
### Describe the bug

The about page is not responsive for small screens.

### Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Improve the responsiveness of about us page.

### Screenshots

![Screenshot 2022-10-17 at 20-27-33 Book Finder](https://user-images.githubusercontent.com/77227201/196211467-c835ed39-fdd7-4cb8-9fbf-ee9d2f75

[2022-10-17 15:41] wasimreja opened #201 "Enhance dark theme color palette"
### Is your feature request related to a problem? Please describe.

Enhance dark theme color palette with material design.

### Describe the solution you'd like

NA

### Describe alternatives you've considered

NA

### Additional context

https://material.io/design/color/dark-theme.html

[2022-10-17 15:42] #106 closed

[2022-10-17 15:47] tomoyanime commented on #200
Hi @wasimreja I can work on this

[2022-10-17 17:41] #200 closed

[2022-10-18 08:14] UttamBindal commented on #194
can i work on this?

[2022-10-18 10:53] UttamBindal commented on #194
I have made a PR .Please review and share your feedback.

[2022-10-18 16:29] wasimreja opened #207 "Add animation in navbar"
### Is your feature request related to a problem? Please describe.

Add animation in navbar.

### Describe the solution you'd like

NA

### Describe alternatives you've considered

NA

### Additional context

_No response_

[2022-10-18 16:55] Anuran12 commented on #207
@wasimreja I would like to work on this

[2022-10-18 16:57] radhika141 opened #208 "Add footer to it."
### Is your feature request related to a problem? Please describe.

For copyright issues and for people to connect..

### Describe the solution you'd like
We can add footer to the website, showing copyright issue and social media links

### Describe alternatives you've considered

show copyright rights and social media links.

### Additional context

_No response_

[2022-10-18 17:29] #208 closed

[2022-10-19 07:40] #179 closed

[2022-10-19 07:53] wasimreja opened #210 "Add footer in about page"
### Is your feature request related to a problem? Please describe.

Add the existing footer in about page and fix the footer for small screens.

### Describe the solution you'd like

NA

### Describe alternatives you've considered

NA

### Additional context

![Screen Shot 2022-10-19 at 13 19 26](https://user-images.githubusercontent.com/77227201/196629432-56e5906a-fd19-4941-99f4-31dd15df58d4.png)

[2022-10-19 08:04] Gopal2021025 commented on #210
I would like to work on this issue kindly assign me .

[2022-10-19 08:34] wasimreja commented on #207
underline stroke

[2022-10-19 11:38] #210 closed

[2022-10-19 16:41] Kritika30032002 opened #214 "Adding Social icons to the footer"
### Is your feature request related to a problem? Please describe.

Adding Social icons to the footer.

Assign this to me!!

### Describe the solution you'd like

Adding Social icons to the footer.

### Describe alternatives you've considered

Adding Social icons to the footer.

### Additional context

_No response_

[2022-10-19 18:11] wasimreja commented on #214
make changes in hacktoberfest branch

[2022-10-20 06:33] Saloni2004 commented on #214
Hey,can you please assign me this

[2022-10-20 06:51] Kritika30032002 commented on #214
okay

[2022-10-20 08:42] wasimreja opened #215 "Fix footer"
### Describe the bug

When the user searches for a book and scrolls the screen, the footer overlay the search result card.

### Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

The footer should not overlap the search result card.

### Screenshots

![Screenshot 2022-10-20 at 14-08-10 Book Finder](https://user-images.githubuserconte

[2022-10-20 08:44] LeGrandMAG commented on #215
I would like to work on that issue. Can you assign it to me?

[2022-10-20 08:46] LeGrandMAG commented on #215
@wasimreja, Thanks. I will work on it and get back to you.

[2022-10-20 16:08] wasimreja commented on #215
all good!

[2022-10-20 16:08] #215 closed

[2022-10-21 06:05] AnshuPathak-88825 opened #218 "Add stop listening button to it"
### Is your feature request related to a problem? Please describe.

if I press listen button then we don't have any button to have stop it . It will continue playing till last line

### Describe the solution you'd like

Add a stop listen button

### Describe alternatives you've considered

Add a stop listen button that stop playing voice according to our willingness

### Additional context

_No re

[2022-10-21 06:06] AnshuPathak-88825 commented on #218
pls assign me this issue

[2022-10-21 16:25] wasimreja opened #222 "Enhance dark theme color palette"
### Is your feature request related to a problem? Please describe.

Enhance dark theme color palette with material design.

### Describe the solution you'd like

NA

### Describe alternatives you've considered

NA

### Additional context

_No response_

[2022-10-21 17:19] 0b51d14n217 commented on #222
I'd like to take up this issue, kindly assign it to me.

[2022-10-22 05:26] Anim3shSinha commented on #222
I would like to work to this issue. Please assign it to me.

[2022-10-23 08:39] #222 closed

[2022-10-24 10:27] J0SAL opened #228 "Github icon in footer"
### Is your feature request related to a problem? Please describe.

The name looks like a simple text
![image](https://user-images.githubusercontent.com/52382282/197505527-9fb76d5f-8418-48e5-8d87-0700c3033894.png)

### Describe the solution you'd like

Add a Github icon before the name

### Describe alternatives you've considered

- Highlight the name by changing the CSS color
- add circular GitHu

[2022-10-24 10:27] J0SAL commented on #228
Please assign me this issue

[2022-10-25 08:08] Kushal-Pareek commented on #228
Please assign this issue to me. 🙏

[2022-10-28 05:04] #207 closed

[2022-10-28 05:05] #218 closed

[2022-10-28 05:05] #228 closed

[2022-11-04 05:51] davidemmolino opened #237 "Listening to audio explanation continues even after page refresh."
### Describe the bug

I tried refreshing the page after clicking to Listen since there is no way to stop the audio and after refreshing I could still hear the audio going.

### Steps to reproduce

1. Find a book
2. Click on 'Listen'
3. Refresh the page
4. See error

### Expected behavior

Stop audio

### Screenshots

_No response_

### Desktop

- OS: Windows 11
- Browser: Chrome
- Version: 107.0.5

[2022-11-04 06:59] wasimreja commented on #237
@davidemmolino go ahead

[2022-11-10 09:11] matteomarrass opened #238 "Audio doesn't work"
### Describe the bug

The website works well, the only problem is that when I press the button "Listen" it seems like it doesn't work.

### Steps to reproduce

1. Search for a book
2. Click on "Listen"

### Expected behavior

Reproduces audio.

### Screenshots

_No response_

### Desktop

- OS: Ubuntu 22.0.4
- Browser: Mozilla Firefox
- Version: 103.0.1

### Smartphones

no

### Additional context

[2022-11-13 12:20] #238 closed

[2022-11-13 12:20] #237 closed